LOG_LEVEL=debug
ENV_FILE=.env

APP_NAME=your_app_name
APP_KEY=your_secret_app_key
APP_ENV=development
APP_URL=https://example.com/
APP_LANGUAGE=es
APP_COUNTRY_CODE=co
APP_TIME_ZONE=America/Bogota

SECRET_HASH_ROUNDS=10
SECRET_HASH_ALGORITHM=sha256

DATABASE_URL=sqlite:////app/app.db

AWS_S3_ACCESS_KEY_ID=your_access_key_id
AWS_S3_ACCESS_KEY_SECRET=your_access_key_secret
AWS_S3_MEDIA_FILES_PATH=your_s3_media_files_path

AWS_SES_ACCESS_KEY_ID=your_ses_access_key_id
AWS_SES_ACCESS_KEY_SECRET=your_ses_access_key_secret
AWS_SES_REGION=your_ses_region
AWS_SES_FROM_EMAIL=your_ses_from_email
AWS_SES_CONFIGURATION_SET=your_ses_configuration_set

WHATSAPP_MESSAGES_API_URL=https://graph.facebook.com/v22.0/123456789/messages
WHATSAPP_VERIFICATION_TOKEN=your_whatsapp_verification_token
WHATSAPP_API_TOKEN=your_whatsapp_api_token
